# Generated by `pnpm --filter @brandblitz/api gen:openapi` (#143).
# DO NOT EDIT BY HAND. Re-run the generator and commit the diff.
#
# CI runs `gen:openapi:check` on every PR touching apps/api/src/routes/**
# to catch route/schema changes that weren't accompanied by a regenerated
# spec. If that check fails, run the command above and commit the result.
openapi: 3.1.0
info:
  title: BrandBlitz API
  version: 1.0.0
  description: >-
    BrandBlitz HTTP API.


    Spec is generated from zod schemas at
    `apps/api/src/routes/openapi/*.openapi.ts`

    via `pnpm --filter @brandblitz/api gen:openapi`. CI fails the build when the

    generated spec drifts from the committed `docs/openapi.yml`, so every route

    schema change must be accompanied by a regenerated spec in the same commit.
servers:
  - url: https://api.brandblitz.app
    description: Production
  - url: http://localhost:4000
    description: Local dev
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    AuthResponse:
      allOf:
        - $ref: "#/components/schemas/TokenPair"
        - type: object
          properties:
            user:
              $ref: "#/components/schemas/User"
          required:
            - user
    User:
      type: object
      properties:
        id:
          type: string
          example: usr_abc123
        email:
          type: string
          format: email
        name:
          type:
            - string
            - "null"
        googleId:
          type:
            - string
            - "null"
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - email
        - createdAt
    TokenPair:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
      required:
        - accessToken
        - refreshToken
    ErrorEnvelope:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
          required:
            - code
            - message
      required:
        - error
    ChallengeToken:
      type: object
      properties:
        challengeToken:
          type: string
      required:
        - challengeToken
    Challenge:
      type: object
      properties:
        id:
          type: string
        brand_id:
          type: string
        challenge_id:
          type: string
        pool_amount_usdc:
          type: string
        status:
          type: string
          enum:
            - active
            - paused
            - completed
        starts_at:
          type: string
          format: date-time
        ends_at:
          type: string
          format: date-time
        brand_name:
          type: string
        tagline:
          type:
            - string
            - "null"
        logo_url:
          type:
            - string
            - "null"
      required:
        - id
        - brand_id
        - challenge_id
        - pool_amount_usdc
        - status
        - starts_at
        - ends_at
        - brand_name
    ChallengeQuestion:
      type: object
      properties:
        id:
          type: string
        challenge_id:
          type: string
        round:
          type: integer
          minimum: 1
          maximum: 3
        question_type:
          type: string
        prompt_type:
          type: string
          enum:
            - text
            - brand_image
            - product_image
        question_text:
          type: string
        option_a:
          type: string
        option_b:
          type: string
        option_c:
          type: string
        option_d:
          type: string
      required:
        - id
        - challenge_id
        - round
        - question_type
        - prompt_type
        - question_text
        - option_a
        - option_b
        - option_c
        - option_d
    LeaderboardRow:
      type: object
      properties:
        rank:
          type: integer
          exclusiveMinimum: 0
        userId:
          type: string
        displayName:
          type:
            - string
            - "null"
        totalScore:
          type: integer
      required:
        - rank
        - userId
        - displayName
        - totalScore
  parameters: {}
paths:
  /auth/google/callback:
    post:
      tags:
        - auth
      summary: Exchange a Google ID token for a BrandBlitz session
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                idToken:
                  type: string
                  minLength: 1
              required:
                - idToken
      responses:
        "200":
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          description: Invalid Google ID token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/me:
    get:
      tags:
        - auth
      summary: Return the authenticated user's profile
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: "#/components/schemas/User"
                required:
                  - user
        "401":
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: User no longer exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/refresh:
    post:
      tags:
        - auth
      summary: Rotate access + refresh tokens; detects refresh-token reuse
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  minLength: 1
              required:
                - refreshToken
      responses:
        "200":
          description: Rotated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenPair"
        "401":
          description: Invalid or reused refresh token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /auth/logout:
    post:
      tags:
        - auth
      summary: Invalidate the current refresh token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  minLength: 1
      responses:
        "204":
          description: Logged out
  /sessions/{id}/warmup-start:
    post:
      tags:
        - sessions
      summary: Mark warmup as started; server records the timer baseline
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceId:
                  type: string
      responses:
        "200":
          description: Warmup initialised
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionId:
                    type: string
                  warmupStartedAt:
                    type: string
                    format: date-time
                required:
                  - sessionId
                  - warmupStartedAt
        "401":
          description: Unauthenticated
        "404":
          description: Challenge not found
  /sessions/{id}/warmup-complete:
    post:
      tags:
        - sessions
      summary: Mark warmup as complete and return a challenge token (#151)
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
      responses:
        "200":
          description: Warmup complete
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChallengeToken"
        "400":
          description: Warmup minimum-time not yet elapsed
          content:
            application/json:
              schema:
                type: object
                properties:
                  remainingMs:
                    type: integer
                    minimum: 0
                required:
                  - remainingMs
        "401":
          description: Unauthenticated
  /sessions/{id}/answer/{round}:
    post:
      tags:
        - sessions
      summary: Submit an answer for a specific challenge round (#154)
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
        - schema:
            type: string
            enum:
              - "1"
              - "2"
              - "3"
          required: true
          name: round
          in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                selectedOption:
                  type: string
                  enum:
                    - A
                    - B
                    - C
                    - D
                reactionTimeMs:
                  type: integer
                  minimum: 0
              required:
                - selectedOption
                - reactionTimeMs
      responses:
        "200":
          description: Answer recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  score:
                    type: integer
                  correct:
                    type: boolean
                required:
                  - score
                  - correct
        "400":
          description: Malformed payload
        "401":
          description: Unauthenticated
        "409":
          description: Round already submitted
  /challenges/{id}:
    get:
      tags:
        - challenges
      summary: Fetch a single challenge with its question set
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
      responses:
        "200":
          description: Challenge
          content:
            application/json:
              schema:
                type: object
                properties:
                  challenge:
                    $ref: "#/components/schemas/Challenge"
                  questions:
                    type: array
                    items:
                      $ref: "#/components/schemas/ChallengeQuestion"
                required:
                  - challenge
                  - questions
        "401":
          description: Unauthenticated
        "404":
          description: Challenge not found
  /challenges:
    get:
      tags:
        - challenges
      summary: List active challenges (paginated)
      parameters:
        - schema:
            type: string
          required: false
          name: cursor
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 100
          required: false
          name: limit
          in: query
      responses:
        "200":
          description: Challenges page
          content:
            application/json:
              schema:
                type: object
                properties:
                  challenges:
                    type: array
                    items:
                      $ref: "#/components/schemas/Challenge"
                  nextCursor:
                    type:
                      - string
                      - "null"
                required:
                  - challenges
                  - nextCursor
  /leaderboard/{challengeId}:
    get:
      tags:
        - leaderboard
      summary: Top-N leaderboard for a single challenge
      parameters:
        - schema:
            type: string
          required: true
          name: challengeId
          in: path
        - schema:
            type: integer
            minimum: 1
            maximum: 500
          required: false
          name: limit
          in: query
      responses:
        "200":
          description: Leaderboard page
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows:
                    type: array
                    items:
                      $ref: "#/components/schemas/LeaderboardRow"
                  generatedAt:
                    type: string
                    format: date-time
                required:
                  - rows
                  - generatedAt
webhooks: {}
